ul{
    list-style: none;
    display:flex;
    gap:20px;
}
header{
    background-color: #1B262C;
    padding-top: 40px;
    padding-bottom:40px;
}
*{
    padding: 0;
    margin:0;
}
a{
    text-decoration: none;
    color:#BBE1FA;
}
body{
    background-color: #3282B8;
}

#Register{
    margin-top:30px;
    border-radius: 8px;
    color:white;
    background-color: #3282B8;
    border :solid #3282B8;
}
#signin{
    
}