ul{
    list-style-type: none;
    display:flex;
    gap:20px; 
} 
header{
    background-color: ;
}
a{
    text-decoration: none;
    color:#C70039;
} 
h1{
    text-align: center;
} 
header{
    background-color:#FF6969 ;
    padding-top: 30px;
    padding-bottom: 30px;
} 
*{
    margin: 0;
    padding:0;
    color:#FF6969;
}  
body{
    background-color: #FFF5E0;
}  
.hi{
   text-align: center;
   margin-top:30px;


}  .yeet{
    margin-top:200px;
}
button{
    border-radius: 8px;
    height:40px;
    width: 100px;
    background-color:white;
}
p{
    text-align: center;
}#pic{
    padding-left:400px;
    margin-top:450px;
}
@media all (max-width:1189px){
    
} 
input{
    display: flex;
    margin-top:20px;
    text-align: center; 
    color:
    
    
}
.form{
    border:solid #FF6969 10px;
    padding-left:100px; 
    height: 300px;
    width: 300px;
    margin-left: 400px;
}
